body {
    background:url("MainpageImages/mainbackground.png");
    background-size: cover;
}
.btnshop{  
    text-align: center;
    margin-top: 250px;
}

.btn1
{
    font-family: "montserrat",sans-serif;
    border: none;
    padding: 14px 40px;
    background: none;
    color: white;
    font-size: 25px;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    background-image: linear-gradient(to left,#12cbc4,#0652dd,#12cbc4);
    margin-right: 800px;

}
.btn1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    box-shadow: 0 0 50px #320ae0;
  }
 
.btn1:active {
    transform: translateY(4px);
  }
    
.logo{
    margin-left: 10px;
}
